/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/



/* Doodle Stage */
/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  height: 300px;
  width: 600px;
  position: relative;
  overflow: hidden;
  
}



.box {
  width:auto;
  height:100px;
  margin:0 auto;
  float:left;
  text-align: center;
  position: relative;
  left: 20px;
  top: 80px;
  font-size: 55px;
  padding:20px;
  color: #fff;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  opacity: 0%;
}


@keyframes slide {
  from {transform:translate(0px, 200px)}
  to   {transform:translate(0px, 0px)}
}  


#box1 {
  animation:slide 1s ;
  
}

#box2 {
  animation:slide 3.5s ;
  color: transparent;
}

#box3 { 
  animation:slide 3s ;
  color: transparent;
}

#box4 {
  animation:slide 1.5s ;
}

#box5 {
  animation:slide 3s ;
}

#box6 {
  animation:slide 2s ;
}

#dali {
  width: 75%;
  height: 60%;
  position: relative;
  left: -2px;
  bottom: 100px; 
}



@keyframes bounce-in-top {
  0% {
            transform: translateY(-500px);
            animation-timing-function: ease-in;
            opacity: 0;
  }
  38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
            opacity: 1;
  }
  55% {
            transform: translateY(-65px);
            animation-timing-function: ease-in;
  }
  72% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  81% {
            transform: translateY(-28px);
            animation-timing-function: ease-in;
  }
  90% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  95% {
            transform: translateY(-8px);
            animation-timing-function: ease-in;
  }
  100% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
}


.bounce-in-top {
	animation: bounce-in-top 1.1s 2s both;
  width:40px;
  height:40px;
  position: absolute;
  right: 330px;
}
<<<<<<< HEAD

=======
>>>>>>> 572231c60996fc90b383d9e646f5377504de5c39

#clocks {
  position: absolute;
  left: 420px;
  top: 132px;
  width: 100px;
  height: 100px;
  transform: rotate(-20deg) scale(.8);
  overflow: hidden;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/melting-clocks.png);
  background-position: 0 0;
<<<<<<< HEAD
  animation: clock 1s steps(4) 3s;
  animation-fill-mode: forwards;
=======
  
  animation: clock 1s steps(4) 3s;
>>>>>>> 572231c60996fc90b383d9e646f5377504de5c39
}


@keyframes clock {
  100% {
    background-position: 0 -400px;
  }
  
}


.background{
  height: 200px;
  width: 600px;
  z-index: -1;
}

.one {
  background: #8CC0E8; 
background: -webkit-linear-gradient(to top, #8CC0E8 , #4B82AC); 
background: linear-gradient(to top, #8CC0E8 , #4B82AC); 
background-repeat: no-repeat;        
}

.two {
  background: #D38312;
background: -webkit-linear-gradient(to top, #A3F5C9, #07FF7B); 
background: linear-gradient(to top, #A3F5C9 , #07FF7B); 
background-repeat: no-repeat;          
}

.three {
  background: #FF8008;  
background: -webkit-linear-gradient(to top, #FFC837 , #FF8008); 
background: linear-gradient(to top, #FFC837 , #FF8008); 
background-repeat: no-repeat;         
}

.four {
  background: #FAB8FF;  
background: -webkit-linear-gradient(to top, #FAB8FF , #EE32FC); 
background: linear-gradient(to top, #FAB8FF , #EE32FC); 
background-repeat: no-repeat;         
}