/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  background: black;
  height: 300px;
  width: 600px;
  overflow: hidden;
}

svg {
  width: 100%;
}

#books {
  transform: translate3d(-300px, 0px, 0px);
}

#flashlight{
  position: relative;
  overflow: hidden;
  margin:auto;
  z-index: 1000000;
}

#flashlight-shine{
	/*initial positioning = border + half the width*/ 
  left: -3100px;
  top:  -3100px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*shadow aspect*/
  border: 3000px solid black;
  box-shadow: 0 0 20px 0px black inset;
  
  
  
  background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%,rgba(232, 221, 128, 0.35) 45%,rgba(0, 0, 0, 0.6) 60%,rgb(0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%,rgba(232, 221, 128, 0.35) 45%,rgba(0, 0, 0, 0.6) 60%,rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%,rgba(232, 221, 128, 0.35) 45%,rgba(0, 0, 0, 0.6) 60%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40fce300', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
